.side-bar
  .leftbar
    .inbar
      .namebar
        masa
      .freebar
        .xbar
          = link_to "#" do
            = icon('fas', 'edit')
        .ybar
          = link_to "#" do
            = icon('fas', 'cog')
    
  .groups
    .group
      .group__name
        kgkgkgkg
      .group__message
        sssssssssss

