.main_chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #999999;
    &__leftbox{
      margin-top: 35px;
      &__current-group {
        margin-bottom: 15px;
        font-size: 20px;
      }
      &__member-list {
        display: flex;
        font-size: 12px;
        color:#999999;
      }
        &__member-list__member{
          margin-left: 0.3rem;

        }
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      border: solid 1px #38aef0;
      padding: 0 20px;
      a {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  .messages {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      .upper-message{
        display: flex;
        margin-bottom: 10px;
        &__user-name{
        }
        &__date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
        }
        
        .lower-message{
          margin-bottom: 10px;
          
          &__content{
            color: #434a54;
            font-size: 14px;
          }
        }
      }
    }
  }
  
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    .new_message {
      display: flex;
      .form__message {
        position: relative;
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      .form__mask{
        font-size: 1.3rem;
        position: absolute;
        right: 10px;
        cursor: pointer;
        .form__mask__image {
          .icon {
            position: absolute;
            right: 155px;
            top: 15px;
          }
          .hidden{
            display: none;
          }
        }
      }
      .form__submit {
        background-color: #38aef0;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        color: white;
        cursor: pointer;
      }
    }
  }
}