.main_chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #999999;
    &__leftbox{
      margin-top: 35px;
      &__current-group {
        margin-top: 15px;
      }
      &__member-list {
        display: flex;
        font-size: 12px;
        color:#999999;
        &__member{
        }
        &__member{
          
        }
      }
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      border: solid 1px #38aef0;
      padding: 0 20px;
      a {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  .messages {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 40px 45px;
    .message{
      padding-bottom: 40px;
      &__upper-info{
        display: flex;
        &__talker{
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text{
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    form {
      display: flex;
      .input-box{
        position: relative;
        width: 100%;
        &__text{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file{
            display: none;
          }
        }
      }
      .submit-btn {
        background-color: #38aef0;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        color: white;
        cursor: pointer;
      }
    }
  }
}